[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
watson-streaming = {editable = true, path = "."}
fluteline = "*"

[dev-packages]

[requires]
python_version = "2.7"
